ion-tab-bar {
  --background: rgba(0, 0, 0, 0.8);
}

ion-tab-button {
  --color-selected: #fff;
}

.player {
  animation: fadeIn 0.5s;
  height: 55px;
  background: var(--ion-color-medium);
  img {
    height: 50px;
  }
  font-family: "Spotify";
  color: #fff;
  font-size: small;
  z-index: 10;
  .progress-bar {
    height: 2px;
    width: 100%;
    background: #707070;

    .progress {
      background: #fff;
      height: 100%;
    }
  }
}

.player-tab {
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
